body {
  background-color: #fff;
}
header {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  border-bottom: 1px solid #ccc;
  z-index: 100;
}
main {
  margin-top: 3em;
  padding: 3em;
}
.project-card {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 300px;
  margin: 0 0.5em 2em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*overflow: hidden;*/
}
.project-card .meta {
  position: absolute;
  width: 300px;
  overflow: visible;
}
.project-card h2 {
  margin: 0;
}
.project-card p {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.project-card .tag {
  float: left;
  background-image: url('../img/tag.png');
  -webkit-background-size: 7em;
  background-size: 7em;
  width: 7em;
  height: 7em;
  position: relative;
  right: -100%;
  -webkit-transform: scale(4);
  -ms-transform: scale(4);
  transform: scale(4);
  opacity: 0;
  z-index: -1000;
  -webkit-transition: right 500ms, -webkit-transform 500ms, z-index 250ms, opacity 250ms;
  transition: right 500ms, transform 500ms, z-index 250ms, opacity 250ms;
  -webkit-transition-timing-function: easeOutCubic;
  transition-timing-function: easeOutCubic;
}
.project-card .tag div {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: 3.6em;
  left: 1em;
  color: #fff;
}
.project-card:hover p {
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}
.project-card:hover .tag {
  z-index: 1000;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  right: 0%;
  opacity: 1;
  -webkit-transition: opacity 750ms, right 750ms, -webkit-transform 750ms, z-index 1ms;
  transition: opacity 750ms, right 750ms, transform 750ms, z-index 1ms;
  -webkit-transition-timing-function: easeInQuad;
  transition-timing-function: easeInQuad;
}
.project-card:hover .tag:nth-of-type(2) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}
.social {
  display: inline-block;
}
.icon {
  width: 2em;
  height: 2em;
  margin: 0 0.5em 0 0;
}
