@import 'colors.less';
.width-step {
  width: 615px;
  height: 400px;
  transition: all 1s;
  transition-timing-function: easeInQuad;
}
.transition-in {
  transition: all 750ms;
  transition-timing-function: easeInQuad;
}
.transition-out {
  transition: all 750ms;
  transition-timing-function: easeOutCube;
}

@top-margin: 3em;

body {
  background-color: @dark;
  color: @off-black;
}

a {
  text-decoration: none;
  color: @off-black;
  &:hover {
    color: @red;
  }
}

header {
  display: inline-block;
  background-color: @off-white;
  position: fixed;
  top: 0;
  width: 100%;
  height: @top-margin;
  border-bottom: 3px solid @blue;
  z-index: 100;
  line-height: @top-margin - 0.2;

  a {
    &.name {
      font-family: 'Open Sans', sans-serif;
      font-size: 2em;
      padding: 0 0 0 1.4em;
    }
  }

  .social {
    float: right;

    .icon {
      width: 2em;
      height: 2em;
      margin: 0 0.7em 0 0;
    }
  }
}

main {
  margin-top: @top-margin;
  padding: 3em;
  background-color: @dark;
}

.project-card {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 300px;
  margin: 0 0.5em 2em 0;
  box-sizing: border-box;

  .background {
    position: absolute;
    width: 300px;
    height: 300px;
    filter: blur(2px) grayscale(70%);
    .transition-out;
  }

  .meta {
    position: absolute;
    width: 15em;
    overflow: visible;
    margin: 1em 0 0 1em;
    padding: 1em;

    h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 2em;
      text-stroke: 1px white; }

    p {
      height: 6em;
      text-overflow: ellipsis;
      opacity: 0;
      transition: opacity 1s;
    }

    .tag {
      float: left;
      background-image: url('../img/tag.png');
      background-size: 7em;
      width: 7em;
      height: 7em;
      transform: scale(4);
      opacity: 0;
      div {
        transform: rotate(45deg);
        position: relative;
        top: 3.6em;
        left: 1em;
        color: @off-white;
      }
    }

  }

  &:hover {
    .width-step;

    .background {
      .width-step;
      .transition-in;
      filter: blur(2px) grayscale(0%) !important;
    }

    .meta {
      width: 33em;
    }

    p {
      opacity: 1;
    }

    .tag {
      transform: scale(1);
    }

    .tag:nth-of-type(2) {
    }

  }

  <% _.forEach(projects, function (project, project_key) { %>
  &.<%= project_key %> {
    .background {
      background-image: url('<%= project.img %>');
    }
  }
  <% }); %>

}
