@import 'colors.less';
@import 'project-card.less';

@top-margin: 3em;

body {
  background-color: @dark;
  color: @off-black;
}

a {
  text-decoration: none;
  color: @off-black;
  &:hover {
    color: @red;
  }
}

header {
  display: inline-block;
  background-color: @off-white;
  position: fixed;
  top: 0;
  width: 100%;
  height: @top-margin;
  border-bottom: 3px solid @blue;
  z-index: 100;
  line-height: @top-margin - 0.2;

  a {
    &.name {
      font-family: 'Open Sans', sans-serif;
      font-size: 2em;
      padding: 0 0 0 1.4em;
    }
  }

  .social {
    float: right;

    .icon {
      width: 2em;
      height: 2em;
      margin: 0 0.7em 0 0;
    }
  }
}

main {
  margin-top: @top-margin;
  padding: 3em;
  background-color: @dark;
}

.project-card {
  <% _.forEach(projects, function (project, project_key) { %>
  &.<%= project_key %> {
    .background {
      background-image: url('<%= project.img %>');
    }
  }
  <% }); %>
}

