@top-margin: 3em;

body {
  background-color: #fff;
}

header {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: @top-margin;
  border-bottom: 1px solid #ccc;
  z-index: 100;
}

main {
  margin-top: @top-margin;
  padding: 3em;
}

.project-card {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 300px;
  margin: 0 0.5em 2em 0;
  box-sizing: border-box;
  /*overflow: hidden;*/

  .meta {
    position: absolute;
    width: 300px;
    overflow: visible;
  }

  h2 {
    margin: 0;
  }

  p {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity 1s;
  }

  .tag {
    float: left;
    background-image: url('../img/tag.png');
    background-size: 7em;
    width: 7em;
    height: 7em;
    position: relative;
    right: -100%;
    transform: scale(4);
    opacity: 0;
    z-index: -1000;
    transition: right 500ms,  transform 500ms, z-index 250ms, opacity 250ms;
    transition-timing-function: easeOutCubic;
    div {
      transform: rotate(45deg);
      position: relative;
      top: 3.6em;
      left: 1em;
      color: #fff;
    }
  }


  &:hover {
    p {
      opacity: 1;
      transition: opacity 500ms;
    }
    .tag {
      z-index: 1000;
      transform: scale(1);
      right: 0%;
      opacity: 1;
      transition: opacity 750ms, right 750ms, transform 750ms, z-index 1ms;
      transition-timing-function: easeInQuad;
    }
    .tag:nth-of-type(2) {
      transition-delay: 500ms;
    }
  }
}

.social {
  display: inline-block;
}

.icon {
  width: 2em;
  height: 2em;
  margin: 0 0.5em 0 0;
}
