<header class="header">
  <a href="/">Hank Yates</a>
  <span class="social pull-right">
    <a target="_blank" href="http://blog.hankyates.com"><img src="img/blog.png" class="icon blog" /></a>
    <a target="_blank" href="http://twitter.com/hankyates"><img src="img/twitter.png" class="icon twitter" /></a>
    <a target="_blank" href="http://github.com/hankyates"><img src="img/github.png" class="icon github" /></a>
    <a target="_blank" href="http://linkedin.com/in/hankyates"><img src="img/linkedin.png" class="icon linkedin" /></a>
  </span>
</header>
