<header class="header">
  <a href="/">Hank Yates</a>
  <span class="social pull-right">
    <a target="_blank" href="http://blog.hankyates.com"><i class="icon-blog"></i></a>
    <a target="_blank" href="http://twitter.com/hankyates"><i class="icon-twitter"></i></a>
    <a target="_blank" href="http://github.com/hankyates"><i class="icon-github"></i></a>
    <a target="_blank" href="http://linkedin.com/in/hankyates"><i class="icon-linked-in"></i></a>
  </span>
</header>
