<section class="header">
  <a href="/">Hank Yates</a>
  <span class="social pull-right">
    <a class="brand" target="_blank" href="http://blog.hankyates.com"><i class="icon-large icon-blog"></i></a>
    <a class="brand" target="_blank" href="http://twitter.com/hankyates"><i class="icon-large icon-twitter"></i></a>
    <a class="brand" target="_blank" href="http://github.com/hankyates"><i class="icon-large icon-github"></i></a>
    <a class="brand" target="_blank" href="http://linkedin.com/in/hankyates"><i class="icon-large icon-linked-in"></i></a>
  </span>
</section>
