<div class="project-card">
  <div class="meta">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    {{#each tags}}
      <div class="tag"><div>{{this}}</div></div>
    {{/each}}
  </div>
  <img src="{{img}}" alt="" />
</div>
